version: '3.0'

services:
  #multiple microservices can be added under "services" 
  app:
    image: markdevereux/node-web-app:3.0
    # The build context 
    build: .
    volumes:
      - .:/usr/src/app
    container_name: Prac-7p
    restart: unless-stopped
      # Specifies the dockerfile building the image
      #dockerfile: Dockerfile
    # Mapping the ports of the container and host computer 
    ports:
      - "8080:8080"  
  #second microservice - database
  #mysqldb:
  #image:
  #restart:
  #env_file:
  #environment:
  #ports:
  #volumes: